<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>

<h2>Add Student</h2>

<form method="POST" enctype="multipart/form-data">

    <input name="name" placeholder="Student Name" required><br><br>
    <input name="father_name" placeholder="Father Name"><br><br>
    <input name="roll_number" placeholder="Roll Number"><br><br>
    <input name="registration_number" placeholder="Registration Number"><br><br>
    <input name="email" type="email" placeholder="Email" required><br><br>
    <input name="mobile" placeholder="Mobile"><br><br>
    <input name="course" placeholder="Course"><br><br>
    <input name="semester" placeholder="Semester"><br><br>
    <input name="session" placeholder="Session"><br><br>


    <input type="file" name="photo"><br><br>

    <button type="submit">Add Student</button>
</form>

<br>
<a href="{{ url_for('admin_dashboard') }}">Back</a>

</body>
</html>

