<h2>Edit Student</h2>

<form method="POST" enctype="multipart/form-data">
    <input name="name" value="{{ student.name }}" required>
    <input name="father_name" value="{{ student.father_name }}">
    <input name="roll_number" value="{{ student.roll_number }}">
    <input name="registration_number" value="{{ student.registration_number }}">
    <input name="email" value="{{ student.email }}">
    <input name="mobile" value="{{ student.mobile }}">
    <input name="course" value="{{ student.course }}">
    <input name="branch" value="{{ student.branch }}">
    <input name="semester" value="{{ student.semester }}">
    <input name="session" value="{{ student.session }}">

    <input type="file" name="photo">
    <button type="submit">Save</button>
</form>


