<!DOCTYPE html>
<html>
<head>
    <title>Upload Excel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Upload Students Excel</h2>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="excel" accept=".xlsx" required>
        <button>Upload</button>
    </form>

    <p>Excel columns must be:<br>
    Name, Father Name, Roll Number, Registration Number, Email, Mobile, Course, branch, Semester, session</p>

    <a href="/admin">Back</a>
</div>

</body>
</html>

